<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="PAS_Database" connectionString="Server=SILINSQL\PatientenAufruf;Database=PAS_Database;User Id=sa;Password=PatientenAufruf4711;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Web-Server Konfiguration -->
    <add key="WebServerPort" value="9090" />
    <add key="EnableSSL" value="false" />
    <add key="SSLPort" value="8443" />
    <!-- Pfade -->
    <add key="LogPath" value="C:\PAS\Logs" />
    <add key="BackupPath" value="C:\PAS\Backup" />
    <!-- Optionen -->
    <add key="AutoStartService" value="true" />
    <add key="EnableLogging" value="true" />
    <add key="MaxLogSizeMB" value="50" />
    <add key="KeepLogDays" value="30" />
    <!-- API-Einstellungen -->
    <add key="EnableCORS" value="true" />
    <add key="AllowedOrigins" value="*" />
    <add key="ApiTimeout" value="30" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>